.preference-setting-wrap {
  :global {
    .user-center-block-checkbox {
      display: flex;
      &-item {
        position: relative;
        width: 44px;
        height: 36px;
        margin-right: 16px;
        cursor: pointer;
        img {
          width: 48px;
        }
      }
      &-selectIcon {
        position: absolute;
        bottom: 4px;
        right: 6px;
        color: #000;
        font-weight: bold;
        font-size: 14px;
        line-height: 0;
      }
    }
    .user-center-them-color {
      overflow: hidden;
      &-block {
        float: left;
        width: 20px;
        height: 20px;
        color: #fff;
        margin-inline-end: 8px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
      }
    }
    .ant-btn {
      margin-right: 8px;
    }
  }
}
