@import '../../styles/variables.less';

.@{component-classname-prefix}-core-tree {
  display: flex;
  flex-direction: column;
  height: 100%;
  .ant-tree {
    height: 100%;
    &-node-content-wrapper {
      flex: auto;
    }
  }
  &-body {
    flex: auto;
  }
}