@import '../../styles/variables.less';

.@{component-classname-prefix}-core-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  &-header {
    display: flex;
    &-options {
      display: flex;
      flex: 1;
      flex-wrap: nowrap;
    }
    &-search {
      width: 230px;
      margin-left: 30px;
    }
  }
  &-content {
    flex: 1;
    height: 1px;
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    z-index: 1;
  }
  /* override antd table style */
  .ant-table {
    &-header {
      border-radius: 0 !important;
      thead {
        tr {
          &:first-of-type {
            *:first-of-type {
              border-start-start-radius: 0 !important;
            }
            *:last-of-type {
              border-start-end-radius: 0 !important;
            }
          }
        }
      }
    }
  }
}
