html,
body,
#root,
#root-master {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* ant-pro css override */
.ant-pro,
.ant-pro-layout {
  height: 100%;
}

/* qiankun css override */
.qiankun-micro-app-container {
  height: 100%;
}
div[id^='__qiankun_microapp_wrapper_for_user_center__'] {
  height: 100%;
}

/* scroll style */
::-webkit-scrollbar {
  width: 6px;
  background-color: #f1f1f1;
}

/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 4px;
}

/* 鼠标悬停在滑块上时的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: #787878;
}

/* 滚动条角落样式 */
::-webkit-scrollbar-corner {
  background-color: #333; /* 设置角落的背景颜色 */
}

/* dark model */
html[data-prefers-color='dark'] {
  ::-webkit-scrollbar {
    background-color: #333;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
