/* stylelint-disable rule-empty-line-before */
.header-right-content-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 1;
}

.user-info-content-wrap {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  :global {
    .user-base-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 5px;
      .user-name {
        margin-bottom: 5px;
      }
    }
    .user-avatar {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 5px;
      transition: all .3s;
      cursor: pointer;
      .drop-content-arrow {
        margin-left: 5px;
        transition: all 0.3s ease-in;
        transform: rotate(0deg);
        &-active {
          transform: rotate(180deg);
        }
      }
    }
    .drop-content-panel {
      position: absolute;
      top: 55px;
      right: -20px;
      width: 180px;
      padding: 10px 0;
      border: 1px solid;
      border-top: none;
      border-right: none;
      user-select: none;
      .operation-item {
        padding: 8px 18px;
        font-size: 14px;
        cursor: pointer;
        span + span {
          margin-left: 12px;
        }
      }
    }
  }
}

.network-status-wrap {
  position: relative;
  height: 100%;
  :global {
    .loading {
      position: absolute;
      top: 2px;
      right: -10px;
      height: 15px;
      width: 15px;
    }
  }
}
